* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px auto 80px;
    justify-content: right;
}

.header {
    background-color: black;

    grid-column: 1/-1;
}

.body {
    background-color: white;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 6px;
    padding: 7px;
}

.body div {
    background-color: white;
    border: 1.7px solid white;
    color: black;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.body div:hover {
    background-color: gray;
    color: white;
}

.footer {
    background-color: black;
    grid-column: 1/-1;
    color: springgreen;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;

}

#output {
    width: 100%;
    display: block;
    text-align: right;
    height: 100px;
    padding: 8px;
    outline: none;
    font-size: 1.5rem;
    background: transparent;
    border: 0px;
    margin: 0px;
    color: white;
}

.item-17 {
    grid-column: 1/3;
}
